{% extends 'base.html'%}
{% load static %}
{% block title %}Destinations{% endblock title%}
  {% block body%}
    <div class ="container">
      <div class="row ">
          {% for x in data %}
          <div class="col-sm my-2">
              <div class="card shadow p-3 mb-5 bg-white rounded  rounded" style="width: 18rem;">
                <img class="card-img-top" src="{{ x.photo.url }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title" border>{{ x.title }}</h5>
                  <a href='/hotels' class="btn btn-dark " >Book Hotels</a>
                </div>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
 {% endblock body %}
